*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/projectFilesBackup
*~
.DS_Store
Thumbs.db
Desktop.ini
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
/proguard
*.log
.navigation/
